@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply rounded-lg border border-gray-200 bg-white p-4 shadow-sm;
    }
}

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}